<%- include("partials/header"); -%>

  <title>Contact Us</title>
  <body>

    <%- include("partials/navbar"); -%>

  <div class="container">
    <h1>Contact Us</h1>
    <h3>Email : <a>wecare@studentDB.com</a></h3>
    <h3>Tel : <a>+11-324341111</a></h3>
  </div>

  <%- include("partials/footer"); -%>
