<%- include("partials/header"); -%>

  <title>Dashboard</title>
  <%- include("partials/navbar"); -%>
  <div class="container">
    <h1>Welcome <%= gotName %>!</h1>
  </div>
  <div style="margin-top: 10vw;" class="row">
    <div style="margin-bottom: 30px;" class="col-md-15 text-center">
        <a href="/registeration"><button style="padding-right: 3vw;" class="btn btn-danger btn-lg">New Entries</button></a>
     </div>
     <div style="margin-bottom: 30px;" class="col-md-15 text-center">
        <a href="/entries"><button style="padding-right: 3vw; text-align: center;" class="btn btn-danger btn-lg">View Entries</button></a>
     </div>
     <div style="margin-bottom: 30px;" class="col-md-15 text-center">
        <a href="/viewdelo"><button style="padding-right: 3vw; text-align: center;" class="btn btn-danger btn-lg">Delete Entry</button></a>
     </div>
  </div>

<%- include("partials/footer"); -%>
