<%- include("partials/header"); -%>

  <title>Dashboard</title>
  <body>
    <%- include("partials/navbar"); -%>
  <div class="container">
    <h1>Welcome <%= gotName %>!</h1>
  </div>
  <div style="margin-top: 12vw;" class="row">
    <div class="col-md-15 text-center">
        <a href="/registeration"><button style="margin-right: 2vw; padding-right: 10vw; text-align: center;" class="btn btn-danger btn-lg">New Entries</button></a>
        <a href="/entries"><button style="margin-right: 2vw; padding-right: 10vw; text-align: center;" class="btn btn-danger btn-lg">View entries</button></a>
        <a href="/viewdelo"><button style="margin-right: 2vw; padding-right: 10vw; text-align: center;" class="btn btn-danger btn-lg">Delete Entries</button></a>
     </div>
</div>

<%- include("partials/footer"); -%>