<%- include("partials/header"); -%>

  <title>View Entries</title>
  <body>
    <%- include("partials/navbar"); -%>

    <div style="margin-top: 10vw;" class="row">
      <div style="margin-bottom: 30px;" class="col-md-15 text-center">
        <a href="/sentries"><button style="margin-right: 2vw; padding-right: 7vw; text-align: center;" class="btn btn-danger btn-lg">Search with ID</button></a>
       </div>
       <div style="margin-bottom: 30px;" class="col-md-15 text-center">
        <a href="/vallentries"><button style="margin-right: 2vw; padding-right: 7vw; text-align: center;" class="btn btn-danger btn-lg">View all entries</button></a>
       </div>
    </div>




    <%- include("partials/footer"); -%>