<%- include("partials/header"); -%>

  <title>View Entries</title>
  <body>
    <%- include("partials/navbar"); -%>
    <div class="container">
        <a href="/sentries"><button style="margin-right: 2vw; padding-right: 10vw; text-align: center;" class="btn btn-danger btn-lg">Search with ID</button></a>
        <a href="/vallentries"><button style="margin-right: 2vw; padding-right: 10vw; text-align: center;" class="btn btn-danger btn-lg">View all entries</button></a>
    </div>



    <%- include("partials/footer"); -%>