<%- include("partials/header"); -%>
  <title>Search Entries</title>
  <body>

    <%- include("partials/navbar"); -%>
    <div class="container">
      <form action="/vspecientries" method="post">
        <h2 style="margin-bottom: 5vh;">Search with Roll No</h2>
        <input placeholder="Enter student roll No" autocomplete="off" name="rollNo" style="height: 43px; margin-right: 10px;" type="text" maxlength="6">
        <button style="margin-right: 2vw; padding-right: 2vh; text-align: center;" type="submit" class="btn btn-danger btn-lg">Go!</button>
      </form>
    </div>

    <%- include("partials/footer"); -%>
