<%- include("partials/header"); -%>
  <title>Delete Entry</title>
  <body>

    <%- include("partials/navbar"); -%>
    <div class="container">
      <form action="/viewdelo" method="post">
        <h2>Search with Roll No</h2>
        <h2> </h2>
        <input autocomplete="off" placeholder="Enter student roll No" name="rollNo" style="height: 40px; margin-right: 10px;" type="text" maxlength="6">
        <button style="margin-right: 2vw; padding-right: 1vw; text-align: center;" type="submit" class="btn btn-danger btn-lg">Go!</button>
      </form>
    </div>
    <%- include("partials/footer"); -%>