body{
    font-family: 'Ubuntu', sans-serif;
}

.login {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('https://images.unsplash.com/photo-1524178232363-1fb2b075b655?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }

  .login-head{
    font-weight: 600;
    font-size: 3vw;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    background-color: #472183;
    border: none;
  }

.btn-login:hover{
    background-color: #c5257d;
}
  
.hue{
  font-size: 3vw;
}
@media  screen and (max-width : 992px) {
  .hue{
      font-size: 8vw;
  }
}